---
import IA from "@/components/reusables/anchors/SimpleInternalAnchor.astro";
import A from "@/components/reusables/anchors/SimpleExternalAnchor.tsx";
interface Props {
  locale: string;
  localizedSocials: string;
  localizedWebReleases: string;
  localizedContact: string;
  localizedContactMe: string;
  localizedOtherLinks: string;
  localizedSiteMap: string;
  localizedAcknowledgements: string;
  localizedEmail: string;
}
const {
  locale,
  localizedSocials,
  localizedWebReleases,
  localizedContact,
  localizedContactMe,
  localizedOtherLinks,
  localizedSiteMap,
  localizedAcknowledgements,
  localizedEmail,
} = Astro.props as Props;
// Timestamps
import GetCurrentYear from "@/components/reusables/date/GetCurrentYear.tsx";
// GitHub repo commits
import LastCommit from "@/components/reusables/fetchers/GetLastCommit.tsx";
// Acknowledgements
import Acknowledgements from "@/components/footer/Acknowledgements.astro";
// Email
import RevealEmail from "@/components/footer/RevealEmail.astro";
---

<footer
  class="bg-[#3756f2] border-t border-dashed border-[#3756f2] h-max select-none z-1 text-[#efefef]"
>
  <div
    class="flex justify-evenly items-center w-[75%] ml-[12.5%]
    mobile-only:w-[90%] mobile-only:ml-[5%]
    ultrawide-only:w-[50%] ultrawide-only:ml-[25%] mobile-only:mb-[5%] mb-[2%] mobile-only:mt-[5%] mt-[2%] bg-noise"
  >
    <div
      id="links-grid"
      class="not-mobile:flex not-mobile:justify-between gap-x-10 mobile-only:grid mobile-only:grid-cols-2 mobile-only:gap-y-3"
    >
      <div id="socials-column" class="border-l pl-2 border-solid border-white">
        <p class="geist-variable font-bold text-lg mb-2">
          👥&nbsp;{localizedSocials}
        </p>
        <div class="ml-2">
          <A h="https://twitter.com/jorgefalava">
            <p class="italic mobile-only:text-sm">Twitter</p>
          </A>
          <A h="https://todon.eu/@jfalava">
            <p class="italic mobile-only:text-sm">Mastodon</p>
          </A>
          <A h="https://linkedin.com/in/jfalava">
            <p class="italic mobile-only:text-sm">LinkedIn</p>
          </A>
        </div>
      </div>
      <div id="releases-column" class="border-l pl-2 border-solid border-white">
        <p class="geist-variable font-bold text-lg mb-2">
          🌐&nbsp;{localizedWebReleases}
        </p>
        <div class="ml-2">
          <div class="flex items-center italic mobile-only:text-sm">
            <p class="italic mobile-only:text-sm">Prod:&nbsp;</p>
            <LastCommit b="main" client:load />
          </div>
          <div class="flex items-center italic mobile-only:text-sm">
            <p class="italic mobile-only:text-sm">Dev:&nbsp;</p>
            <LastCommit b="dev" client:load />
          </div>
        </div>
      </div>
      <div id="contact-column" class="border-l pl-2 border-solid border-white">
        <p class="geist-variable font-bold text-lg mb-2">
          📧&nbsp;{localizedContact}
        </p>
        <div class="ml-2">
          <a
            id="reveal-email-button"
            role="button"
            class="italic mobile-only:text-sm"
            title={localizedContactMe}
          >
            {localizedContactMe}
          </a>
          <A h="https://keybase.io/jfalava/pgp_keys.asc">
            <p class="italic mobile-only:text-sm">PGP</p>
          </A>
        </div>
      </div>
      <div
        id="other-links-column"
        class="border-l pl-2 border-solid border-white"
      >
        <p class="geist-variable font-bold text-lg mb-2">
          🍱&nbsp;{localizedOtherLinks}
        </p>
        <div class="ml-2">
          <IA t={localizedSiteMap} h="/sitemap-0.xml">
            <p slot="simple-anchor-content" class="italic mobile-only:text-sm">
              {localizedSiteMap}
            </p>
          </IA>
          <a
            id="acknowledgements-button"
            role="button"
            class="italic mobile-only:text-sm"
            title={localizedAcknowledgements}
          >
            {localizedAcknowledgements}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    id="copyright-column"
    class="flex items-center mobile-only:mt-[5%] mobile-only:mb-[5%] justify-center mb-[2%]"
  >
    <div class="inline-block invert">
      <svg
        version="1.1"
        class="h-9 w-auto mr-2 invert"
        viewBox="500 500 1000 1000"
      >
        <path
          class="st0"
          fill="currentColor"
          d="M1250.7,1450.1v-377.5h26.3l87.1,199.2c51.6,105.8,21.8,178.3-72.8,178.3H1250.7L1250.7,1450.1z M1250.7,798.8 h7l192.4,430.5V687.2c0-75.6-61.8-137.4-137.4-137.4h-62.1v122.7h81.9l-68.3,87.8h-13.6V798.8z M729.2,1234 c-34.2-1.3-63.7-8.4-88.6-21.3v229.2c14.6,5.3,30.3,8.2,46.6,8.2h563.5v-377.5h-120.9l-31.9,76.2l-31.7,76.8H959.5l55.9-124.7h0 l34.2-74.7l-40.1,46.2h-77.5l-1.3-1.4c-2.8,27.6-10.2,52.3-22.1,74c-15.7,28.5-37.9,50.4-66.8,65.9c-26.9,14.4-57.8,22.1-92.8,23.1 V1145c24.8-1.5,44.4-10.3,59-26.3c16.1-17.7,24.1-42.8,24.1-75.3v-76.2v-81.8h-78.3v-86.6h78.3h100h191l-39.2,87.2H931.9v101.9 h134.3h99h77.1l-38.2-93.3l-30.7,73.7H1075l76-169.5h99.7v-38.4h-81.9l40-87.8h42V549.9H687.2c-16.4,0-32.1,2.9-46.6,8.2v487.1h9 c0.4,32.1,8.5,56.8,24.4,74.1c13.6,14.8,32,23.3,55.3,25.4V1234z M640.6,1212.7c-14.3-7.4-27.1-16.7-38.3-27.9 c-33.1-32.9-49.9-79.5-50.3-139.7h88.6V558.1c-52.8,19.2-90.7,70-90.7,129.2v625.5c0,59.2,38,110,90.7,129.2V1212.7z"
        >
        </path>
      </svg>
    </div>
    <p class="inline-block geist-variable font-bold text-lg">
      &copy;&nbsp;Jorge Fernando Álava,
    </p>
    <GetCurrentYear client:load />
  </div>
</footer>
<Acknowledgements locale={locale} />
<RevealEmail locale={locale} localizedEmail={localizedEmail} />
