---
import IA from "@/components/reusables/anchors/SimpleInternalAnchor.astro";
import A from "@/components/reusables/anchors/SimpleExternalAnchor.tsx";
interface Props {
  locale: string;
  localizedSocials: string;
  localizedWebReleases: string;
  localizedContact: string;
  localizedContactMe: string;
  localizedOtherLinks: string;
  localizedSiteMap: string;
  localizedAcknowledgements: string;
}
const {
  locale,
  localizedSocials,
  localizedWebReleases,
  localizedContact,
  localizedContactMe,
  localizedOtherLinks,
  localizedSiteMap,
  localizedAcknowledgements,
} = Astro.props as Props;
// Timestamps
import GetCurrentYear from "@/components/reusables/date/GetCurrentYear.tsx";
// GitHub repo commits
import LastCommit from "@/components/reusables/fetchers/GetLastCommit.tsx";
// Acknowledgements
import Acknowledgements from "@/components/footer/Acknowledgements.astro";
---

<footer
  class="bg-[#3756f2] h-max select-none z-1 text-[#efefef] not-mobile:mt-[2%] mobile-only:mt-[5%]"
>
  <div
    class="flex justify-evenly items-center w-[75%] ml-[12.5%]
    mobile-only:w-[90%] mobile-only:ml-[5%]
    ultrawide-only:w-[50%] ultrawide-only:ml-[25%] mobile-only:mb-[5%] mb-[2%] mobile-only:mt-[5%] mt-[2%] bg-noise"
  >
    <div class="mw-1150:grid mw-1150:grid-cols-2 mw-1150:gap-y-3">
      <div
        id="links-grid"
        class="not-mobile:flex not-mobile:justify-between gap-x-10 mobile-only:grid mobile-only:grid-cols-2 mobile-only:gap-y-3"
      >
        <div
          id="socials-column"
          class="border-l pl-2 border-solid border-white"
        >
          <p class="geist-variable font-bold text-lg mb-2">👥&nbsp;{localizedSocials}</p>
          <div class="ml-2">
            <A h="https://twitter.com/jorgefalava">
              <p class="italic mobile-only:text-sm">Twitter</p>
            </A>
            <A h="https://todon.eu/@jfalava">
              <p class="italic mobile-only:text-sm">Mastodon</p>
            </A>
            <A h="https://linkedin.com/in/jfalava">
              <p class="italic mobile-only:text-sm">LinkedIn</p>
            </A>
          </div>
        </div>
        <div
          id="releases-column"
          class="border-l pl-2 border-solid border-white"
        >
          <p class="geist-variable font-bold text-lg mb-2">🌐&nbsp;{localizedWebReleases}</p>
          <div class="ml-2">
            <div class="flex items-center italic mobile-only:text-sm">
              <p class="italic mobile-only:text-sm">Prod:&nbsp;</p>
              <LastCommit b="main" client:load />
            </div>
            <div class="flex items-center italic mobile-only:text-sm">
              <p class="italic mobile-only:text-sm">Dev:&nbsp;</p>
              <LastCommit b="dev" client:load />
            </div>
          </div>
        </div>
        <div
          id="contact-column"
          class="border-l pl-2 border-solid border-white"
        >
          <p class="geist-variable font-bold text-lg mb-2">📧&nbsp;{localizedContact}</p>
          <div class="ml-2">
            <IA t="mailto:hi@contact.jfa.dev" h="mailto:hi@contact.jfa.dev">
              <p
                slot="simple-anchor-content"
                class="italic mobile-only:text-sm"
              >
                {localizedContactMe}
              </p>
            </IA>
            <A h="https://keybase.io/jfalava/pgp_keys.asc">
              <p class="italic mobile-only:text-sm">PGP</p>
            </A>
          </div>
        </div>
        <div
          id="other-links-column"
          class="border-l pl-2 border-solid border-white"
        >
          <p class="geist-variable font-bold text-lg mb-2">🍱&nbsp;{localizedOtherLinks}</p>
          <div class="ml-2">
            <IA t={localizedSiteMap} h="/sitemap-0.xml">
              <p
                slot="simple-anchor-content"
                class="italic mobile-only:text-sm"
              >
                {localizedSiteMap}
              </p>
            </IA>
            <a
              id="acknowledgements-button"
              role="button"
              class="italic mobile-only:text-sm"
              title={localizedAcknowledgements}
            >
              {localizedAcknowledgements}
            </a>
          </div>
        </div>
      </div>
      <div
        id="copyright-column"
        class="flex items-center w-1150:mt-[5%] w-1150:justify-center mw-1150:justify-end"
      >
        <p class="inline-block geist-variable font-geist-variable font-bold text-lg">
          &copy;&nbsp;
        </p>
        <p class="inline-block geist-variable font-geist-variable font-bold text-lg">
          Jorge Fernando Álava,
        </p>
        <GetCurrentYear client:load />
      </div>
    </div>
  </div>
</footer>
<Acknowledgements locale={locale} />
