---
import newWindowIcon from 'src/assets/icons/actions/new-window.svg'
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { onMount } from 'solid-js';
//
interface Props {
  buttonIcon: string;
  buttonTitle: string;
  buttonID: string;
}
const { buttonIcon, buttonTitle, buttonID } = Astro.props;
//
const brand_icon = import.meta.glob<{ default: ImageMetadata }>('src/assets/icons/branding/*.{png,svg}')
if (!brand_icon[buttonIcon]) throw new Error(`"${buttonIcon}" does not exist in glob.`);
//
function calculateHeight(width: number): number {

  return (width * 685) / 1024;
}

onMount(() => {
    const iframeElement = document.getElementById('twitch-iframe');
    const wrapperElement = document.getElementById('twitch-container');

    if (iframeElement && wrapperElement) {
      const width = wrapperElement.offsetWidth;
      const height = calculateHeight(width);
      iframeElement.style.width = `${width}px`;
      iframeElement.style.height = `${height}px`;
    }
  });
---

<button id={buttonID} 
  class="">

  <div class="flex">
    <Image
      src={brand_icon[buttonIcon]()}
      alt={buttonTitle}
      class="w-10 inline-block h-auto mr-3"
    />
    <div
      class="inline-block"
    >
      <span
        class="text-2xl dark:text-white mr-3"
      >
        {buttonTitle}
      </span>
    </div>
    <Image
      src={newWindowIcon}
      alt=""
      class="w-6 inline-block h-auto dark:invert"
    />
  </div>
</button>

<script> 
</script>