---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
//
interface Props {
  buttonIcon: string;
  buttonTitle: string;
  buttonID: string;
  newWindowIcon: string;
}
const { buttonIcon, buttonTitle, buttonID, newWindowIcon } = Astro.props;
//
const brand_icon = import.meta.glob<{ default: ImageMetadata }>('src/assets/icons/branding/*.{avif,png,svg}')
if (!brand_icon[buttonIcon]) throw new Error(`"${buttonIcon}" does not exist in glob.`);

const action_icon = import.meta.glob<{ default: ImageMetadata }>('src/assets/icons/actions/*.{avif,png,svg}')
if (!action_icon[newWindowIcon]) throw new Error(`"${newWindowIcon}" does not exist in glob.`);
---

<button id={buttonID} 
  class="p-3 border border-transparent border-solid hover:border-black
  active:border active:border-solid dark:active:border-white
  hover:border hover:border-solid dark:hover:border-white
  ">

  <div class="flex">
    <Image
      src={brand_icon[buttonIcon]()}
      alt={buttonTitle}
      class="w-10 inline-block h-auto mr-3 dark:invert"
    />
    <div
      class="inline-block"
    >
    </div>
    <div
      class="align-[30px]"
    >
      <Image
        src={action_icon[newWindowIcon]()}
        alt=""
        class="w-4 inline-block h-auto dark:invert"
      />
    </div>
  </div>
</button>

<script> 
</script>