---
import newWindowIcon from '/src/assets/icons/actions/new-window.svg'
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
//
interface Props {
  buttonIcon: string;
  buttonTitle: string;
  buttonID: string;
}
const { buttonIcon, buttonTitle, buttonID } = Astro.props;
//
const brand_icon = import.meta.glob<{ default: ImageMetadata }>('/src/assets/icons/branding/*.{png,svg}')
if (!brand_icon[buttonIcon]) throw new Error(`"${buttonIcon}" does not exist in glob.`);
---

<button id={buttonID} 
  class="">
  <Image 
    src={brand_icon[buttonIcon]()}
    alt={buttonTitle}
    class="w-10" 
  />
  <span>
    {buttonTitle}
  </span>
  <Image
    src={newWindowIcon}
    alt=""
    class=""
  />
</button>