---
import Master from "@/layouts/Master.astro";
import LinkButton from "@/components/index/links/LinkButton.astro";
interface Props {
  locale: string;
  metaTitle: string;
  metaDescription: string;
  metaKeywords: string;
  metaImageURL: string;
  metaImageFormat: string;
  metaImageWidth: string;
  metaImageHeight: string;
  metaImageAlt: string;
  localizedBackToHome: string;
  localizedHeader: string;
}

const {
  locale,
  metaTitle,
  metaDescription,
  metaKeywords,
  metaImageURL,
  metaImageFormat,
  metaImageWidth,
  metaImageHeight,
  metaImageAlt,
  localizedBackToHome,
  localizedHeader,
} = Astro.props as Props;
// Skills
let LocalizedSkills;
if (locale === "es") {
  LocalizedSkills = await import("@/components/cv/skills/Skills.es.md");
} else if (locale === "en") {
  LocalizedSkills = await import("@/components/cv/skills/Skills.es.md");
} else {
  LocalizedSkills = await import("@/components/cv/skills/Skills.es.md");
}
const Skills = LocalizedSkills.default;
// Work Experience
let LocalizedWorkExp;
if (locale === "es") {
  LocalizedWorkExp = await import(
    "@/components/cv/work-exp/WorkExperience.es.md"
  );
} else if (locale === "en") {
  LocalizedWorkExp = await import(
    "@/components/cv/work-exp/WorkExperience.es.md"
  );
} else {
  LocalizedWorkExp = await import(
    "@/components/cv/work-exp/WorkExperience.es.md"
  );
}
const WorkExperience = LocalizedWorkExp.default;
// Education
let LocalizedEducation;
if (locale === "es") {
  LocalizedEducation = await import(
    "@/components/cv/education/Education.es.md"
  );
} else if (locale === "en") {
  LocalizedEducation = await import(
    "@/components/cv/education/Education.es.md"
  );
} else {
  LocalizedEducation = await import(
    "@/components/cv/education/Education.es.md"
  );
}
const Education = LocalizedEducation.default;
// AboutMe
let LocalizedAboutMe;
if (locale === "es") {
  LocalizedAboutMe = await import("@/components/cv/about/About.es.md");
} else if (locale === "en") {
  LocalizedAboutMe = await import("@/components/cv/about/About.es.md");
} else {
  LocalizedAboutMe = await import("@/components/cv/about/About.es.md");
}
const AboutMe = LocalizedAboutMe.default;
function localizedHome() {
  if (locale === "es") {
    return `/`;
  } else if (locale) {
    return `/${locale}/`;
  } else {
    return `/`;
  }
}
---

<Master
  locale={locale}
  metaTitle={metaTitle}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImageURL={metaImageURL}
  metaImageFormat={metaImageFormat}
  metaImageWidth={metaImageWidth}
  metaImageHeight={metaImageHeight}
  metaImageAlt={metaImageAlt}
  currentPage="cv"
  localizedHeader={localizedHeader}
>
  <article id="aboutme-card">
    <AboutMe />
  </article>
  <article id="skills-card">
    <Skills />
  </article>
  <article id="work-exp-card">
    <WorkExperience />
  </article>
  <article id="education-card">
    <Education />
  </article>
  <div class="flex flex-grow justify-center mt-[2%] mobile-only:mt-[5%]">
    <LinkButton buttonHref={localizedHome()} buttonText={localizedBackToHome}>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 w-auto dark:invert"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="m2.25 12l8.955-8.955a1.124 1.124 0 0 1 1.59 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
        ></path></svg
      >
    </LinkButton>
  </div>
</Master>
