---
import MasterLayout from "@/layouts/Master.astro";
import { Image } from "astro:assets";
//
import PFP from "/public/images/seidor_pfp.avif";
//
interface Props {
  locale: string;
  metaTitle: string;
  metaDescription: string;
  metaKeywords: string;
  metaImageURL: string;
  metaImageFormat: string;
  metaImageWidth: string;
  metaImageHeight: string;
  metaImageAlt: string;
}
const {
  locale,
  metaTitle,
  metaDescription,
  metaKeywords,
  metaImageURL,
  metaImageFormat,
  metaImageWidth,
  metaImageHeight,
  metaImageAlt,
} = Astro.props as Props;
---

<MasterLayout
  locale={locale}
  metaTitle={metaTitle}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImageURL={metaImageURL}
  metaImageFormat={metaImageFormat}
  metaImageWidth={metaImageWidth}
  metaImageHeight={metaImageHeight}
  metaImageAlt={metaImageAlt}
>
  <header class="flex justify-evenly items-center">
    <div class="grid grid-cols-1 justify-start items-center">
      <h1 class="bold">Jorge Fernando Álava</h1>
      <p class="italic">aqui iria lo que hago</p>
    </div>
    <div class="rounded-lg glassbox p-2">
      <Image src={PFP} alt="PFP" width="150" class="rounded-md" />
    </div>
  </header>
</MasterLayout>
