---
import MasterLayout from "@/layouts/Master.astro";
//
import BentoElement from "@/components/index/current-projects/BentoElement.astro";
import { TagType } from "@/types/TagType.ts";
import T from "@/components/reusables/tags/Technology.astro";
import TechTagContainer from "@/components/reusables/tags/TechTagContainer.astro";
//
interface Props {
  locale: string;
  metaTitle: string;
  metaDescription: string;
  metaKeywords: string;
  metaImageURL: string;
  metaImageFormat: string;
  metaImageWidth: string;
  metaImageHeight: string;
  metaImageAlt: string;
}
const {
  locale,
  metaTitle,
  metaDescription,
  metaKeywords,
  metaImageURL,
  metaImageFormat,
  metaImageWidth,
  metaImageHeight,
  metaImageAlt,
} = Astro.props as Props;
// About
let LocalizedAbout;
if (locale === "es") {
  LocalizedAbout = await import("@/components/index/about/About.es.md");
} else if (locale === "en") {
  LocalizedAbout = await import("@/components/index/about/About.es.md");
} else {
  LocalizedAbout = await import("@/components/index/about/About.es.md");
}
const About = LocalizedAbout.default;
// Current Projects
/// Layout
let BentoLayout;
try {
  BentoLayout = (
    await import("@/components/index/current-projects/BentoLayout.astro")
  ).default;
} catch (e) {
  console.error("Error loading localized component:", e);
}
---

<MasterLayout
  locale={locale}
  metaTitle={metaTitle}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImageURL={metaImageURL}
  metaImageFormat={metaImageFormat}
  metaImageWidth={metaImageWidth}
  metaImageHeight={metaImageHeight}
  metaImageAlt={metaImageAlt}
>
  <article id="about-card">
    <About />
  </article>
  <article id="links-card">
    <h2>Links</h2>
  </article>
  <article id="projects-card">
    <h2>Projects</h2>
    {
      BentoLayout ? (
        <BentoLayout>
          <BentoElement
            locale={locale}
            projectTitle="jfa.dev"
            projectStatus={TagType.Mantained}
            repoLink="https://github.com/jfalava/jfa.dev/"
            repoHosting="github"
          >
            <div class="grid grid-cols-1 ">
              <span>Aquí iría un markdown? Un string de texto?</span>
              <TechTagContainer>
                <T t="Astro" /> <T t="React" /> <T t="Cloudflare" />
                <T t="API" />
              </TechTagContainer>
            </div>
          </BentoElement>
          <BentoElement
            locale={locale}
            projectTitle="Machine Outfitting"
            projectStatus={TagType.Mantained}
            repoLink="https://github.com/jfalava/machine-outfitting"
            repoHosting="github"
          >
            <div class="grid grid-cols-1 ">
              <span>Aquí iría un markdown? Un string de texto?</span>
              <TechTagContainer>
                <T t="PowerShell" />
              </TechTagContainer>
            </div>
          </BentoElement>
          <BentoElement
            locale={locale}
            projectTitle="dotfiles"
            projectStatus={TagType.Mantained}
            repoLink="https://github.com/jfalava/dotfiles-and-such"
            repoHosting="github"
          >
            <div class="grid grid-cols-1 ">
              <span>Aquí iría un markdown? Un string de texto?</span>
              <TechTagContainer>
                <T t="PowerShell" /> <T t="Sh" />
              </TechTagContainer>
            </div>
          </BentoElement>
          <BentoElement
            locale={locale}
            projectTitle="make-a-test"
            projectStatus={TagType.UnderDevelopment}
            repoLink="https://github.com/jfalava/make-a-test"
            repoHosting="github"
          >
            <div class="grid grid-cols-1 ">
              <span>Aquí iría un markdown? Un string de texto?</span>
              <TechTagContainer>
                <T t="React" />
                <T t="Cloudflare" />
                <T t="CF Workers" />
                <T t="CF D1" />
              </TechTagContainer>
            </div>
          </BentoElement>
          <BentoElement
            locale={locale}
            projectTitle="OC Content Page"
            projectStatus={TagType.NDA}
            repoLink="#super-secret-repo"
            repoHosting="git"
          >
            <div class="grid grid-cols-1 ">
              <span>Aquí iría un markdown? Un string de texto?</span>
              <TechTagContainer>
                <T t="Astro" />
                <T t="React" />
                <T t="Cloudflare" />
                <T t="CF Workers" />
                <T t="CF D1" />
              </TechTagContainer>
            </div>
          </BentoElement>
          <BentoElement
            locale={locale}
            projectTitle="URL Redirects"
            projectStatus={TagType.UnderDevelopment}
            repoLink="#super-secret-repo"
            repoHosting="git"
          >
            <div class="grid grid-cols-1 ">
              <span>Aquí iría un markdown? Un string de texto?</span>
              <TechTagContainer>
                <T t="TypeScript" />
                <T t="Cloudflare" />
                <T t="CF Workers" />
              </TechTagContainer>
            </div>
          </BentoElement>
        </BentoLayout>
      ) : (
        <div>Error loading component</div>
      )
    }
  </article>
</MasterLayout>
