---
import MasterLayout from "@/layouts/Master.astro";
import DivisorLine from "@/components/reusables/text-elements/DivisorLine.astro";
// mah mug
import PersonalDesc from "@/components/index/PersonalDesc.astro";
// Projects
import AllProjects from "@/components/index/current-projects/AllProjects.astro";
// Links
import AllLinks from "@/components/index/links/AllLinks.astro";
//
interface Props {
  locale: string;
  metaTitle: string;
  metaDescription: string;
  metaKeywords: string;
  metaImageURL: string;
  metaImageFormat: string;
  metaImageWidth: string;
  metaImageHeight: string;
  metaImageAlt: string;
  localizedPersonalDescription: string | { __html: string };
  localizedNavIndex: string;
  localizedCVIndex: string;
  localizedLinks: string;
  localizedSomeProjects: string;
  localizedSocials: string;
  localizedWebReleases: string;
  localizedContact: string;
  localizedContactMe: string;
  localizedOtherLinks: string;
  localizedSiteMap: string;
  localizedAcknowledgements: string;
  localizedEmail: string;
}
const {
  locale,
  metaTitle,
  metaDescription,
  metaKeywords,
  metaImageURL,
  metaImageFormat,
  metaImageWidth,
  metaImageHeight,
  metaImageAlt,
  localizedLinks,
  localizedSomeProjects,
  localizedPersonalDescription,
  localizedNavIndex,
  localizedCVIndex,
  localizedSocials,
  localizedWebReleases,
  localizedContact,
  localizedContactMe,
  localizedOtherLinks,
  localizedSiteMap,
  localizedAcknowledgements,
  localizedEmail,
} = Astro.props as Props;
---

<MasterLayout
  locale={locale}
  metaTitle={metaTitle}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImageURL={metaImageURL}
  metaImageFormat={metaImageFormat}
  metaImageWidth={metaImageWidth}
  metaImageHeight={metaImageHeight}
  metaImageAlt={metaImageAlt}
  currentPage="index"
  localizedNavIndex={localizedNavIndex}
  localizedCVIndex={localizedCVIndex}
  localizedSocials={localizedSocials}
  localizedWebReleases={localizedWebReleases}
  localizedContact={localizedContact}
  localizedContactMe={localizedContactMe}
  localizedOtherLinks={localizedOtherLinks}
  localizedSiteMap={localizedSiteMap}
  localizedAcknowledgements={localizedAcknowledgements}
  localizedEmail={localizedEmail}
>
  <article id="personal-description-card" class="mobile-only:mt-[5%] mt-[2%]">
    <PersonalDesc localizedPersonalDescription={localizedPersonalDescription} />
    <DivisorLine />
  </article>
  <article id="links-card" class="">
    <h2>🔗 {localizedLinks}</h2>
    <AllLinks locale={locale} />
  </article>
  <DivisorLine />
  <article id="projects-card" class="mt-[2%] mb-[2%] mobile-only:my-[5%]">
    <h2 class="mobile-only:mb-[5%]">🚧 {localizedSomeProjects}</h2>
    <AllProjects locale={locale} />
  </article>
</MasterLayout>
