---
import MasterLayout from "@/layouts/Master.astro";

//
interface Props {
  locale: string;
  metaTitle: string;
  metaDescription: string;
  metaKeywords: string;
  metaImageURL: string;
  metaImageFormat: string;
  metaImageWidth: string;
  metaImageHeight: string;
  metaImageAlt: string;
}
const {
  locale,
  metaTitle,
  metaDescription,
  metaKeywords,
  metaImageURL,
  metaImageFormat,
  metaImageWidth,
  metaImageHeight,
  metaImageAlt,
} = Astro.props as Props;
---

<MasterLayout
  locale={locale}
  metaTitle={metaTitle}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImageURL={metaImageURL}
  metaImageFormat={metaImageFormat}
  metaImageWidth={metaImageWidth}
  metaImageHeight={metaImageHeight}
  metaImageAlt={metaImageAlt}
>
  <article>
    <h2 class="bold">about</h2>
    <p class="regular">aquí irá un componente de `md`</p>
  </article>
  <article>
    <h2 class="bold">current projects</h2>
    <p class="regular">aquí irán bentos con los proyectos</p>
  </article>
  <article>
    <h2 class="bold">skills</h2>
    <p class="regular">aquí irá un componente de `md`</p>
  </article>
  <article>
    <h2 class="bold">work exp</h2>
    <p class="regular">aquí irá un componente de `md`</p>
  </article>
  <article>
    <h2 class="bold">education</h2>
    <p class="regular">aquí irá un componente de `mdx`</p>
  </article>
</MasterLayout>
