---
import { Image } from "astro:assets";
// Styles
/// Globals
import "@/styles/global.css";
import "@/styles/dark-mode.css";
/// Fonts
import "@/styles/typography/dmvendor.css";
import "@/styles/typography/fonts.css";
import "@/styles/typography/text-size.css";
import "@/styles/typography/markdown.css";
/// Colors
import "@/styles/bg.css";
import "@/styles/transitions-animations.css";
// Components
/// Header
import PFP from "/public/images/seidor_pfp.avif";
/// Footer
import Footer from "@/components/footer/Footer.astro";
// Constants
const currentUrl = Astro.url.toString();
// Variables and Logic
interface Props {
  locale: string;
  metaTitle: string;
  metaDescription: string;
  metaKeywords: string;
  metaImageURL: string;
  metaImageFormat: string;
  metaImageWidth: string;
  metaImageHeight: string;
  metaImageAlt: string;
}
const {
  locale,
  metaTitle,
  metaDescription,
  metaKeywords,
  metaImageURL,
  metaImageFormat,
  metaImageWidth,
  metaImageHeight,
  metaImageAlt,
} = Astro.props as Props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href={currentUrl} />
    <meta http-equiv="Content-Language" content={locale} />
    <meta name="color-scheme" content="light, dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <meta name="keywords" content={metaKeywords} />
    <meta name="author" content="Jorge Fernando Álava" />
    <meta name="title" content={metaTitle} />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={metaImageURL} />
    <meta property="og:image:type" content={metaImageFormat} />
    <meta property="og:image:height" content={metaImageHeight} />
    <meta property="og:image:width" content={metaImageWidth} />
    <meta property="og:image:alt" content={metaImageAlt} />
    <meta property="og:url" content={currentUrl} />
    <meta property="og:locale" content={locale} />
    <meta property="og:site_name" content={metaTitle} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={metaImageURL} />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:site" content="" />
    <title>
      {metaTitle}
    </title>
  </head>
  <body
    class="flex flex-col w-full min-h-[100dvh] bg-[#efefef] text-[#181a1b] dark:bg-[#181a1b] dark:text-[#efefef]"
  >
    <header class="flex justify-evenly items-center mt-2">
      <div class="grid grid-cols-1 justify-start items-center">
        <h1 class="bold">Jorge Fernando Álava</h1>
        <p class="italic">aqui iria lo que hago</p>
      </div>
      <div class="rounded-lg glassbox p-2">
        <Image src={PFP} alt="PFP" width="150" class="rounded-md" />
      </div>
    </header>
    <main
      class="flex-grow ultrawide-only:w-[50%] ultrawide-only:ml-[25%]
        w-[75%] ml-[12.5%]
        mobile-only:w-[90%] mobile-only:ml-[5%] z-0"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
