---
// Styles
/// Globals
import "@/styles/global.css";
import "@/styles/dark-mode.css";
/// Fonts
import "@/styles/typography/dmvendor.css";
import "@/styles/typography/fonts.css";
import "@/styles/typography/text-size.css";
import "@/styles/typography/markdown.css";
/// Colors
import "@/styles/bg.css";
import "@/styles/transitions-animations.css";
// Components
/// QoL
import ScrollToTopButton from "@/components/reusables/qol/ScrollToTopButton.tsx";
/// Header
import Header from "@/components/header/Header.astro";
/// Footer
import Footer from "@/components/footer/Footer.astro";
// Constants
const currentUrl = Astro.url.toString();
// Variables and Logic
interface Props {
  locale: string;
  metaTitle: string;
  metaDescription: string;
  metaKeywords: string;
  metaImageURL: string;
  metaImageFormat: string;
  metaImageWidth: string;
  metaImageHeight: string;
  metaImageAlt: string;
  currentPage: string;
  localizedNavIndex: string;
  localizedCVIndex: string;
  localizedSocials: string;
  localizedWebReleases: string;
  localizedContact: string;
  localizedContactMe: string;
  localizedOtherLinks: string;
  localizedSiteMap: string;
  localizedAcknowledgements: string;
  localizedEmail: string;
}
const {
  locale,
  metaTitle,
  metaDescription,
  metaKeywords,
  metaImageURL,
  metaImageFormat,
  metaImageWidth,
  metaImageHeight,
  metaImageAlt,
  currentPage,
  localizedNavIndex,
  localizedCVIndex,
  localizedSocials,
  localizedWebReleases,
  localizedContact,
  localizedContactMe,
  localizedOtherLinks,
  localizedSiteMap,
  localizedAcknowledgements,
  localizedEmail,
} = Astro.props as Props;
---

<!--
    _  __           _            
   (_)/ _|         | |           
    _| |_ __ _   __| | _____   __
   | |  _/ _` | / _` |/ _ \ \ / /
   | | || (_| || (_| |  __/\ V / 
   | |_| \__,_(_)__,_|\___| \_/  
  _/ |                           
 |__/                            
--><!doctype html>
<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="/images/icons/jfa_branding.svg"
      type="image/x-icon"
    />
    <link rel="canonical" href={currentUrl} />
    <meta http-equiv="Content-Language" content={locale} />
    <meta name="color-scheme" content="light, dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <meta name="keywords" content={metaKeywords} />
    <meta name="author" content="Jorge Fernando Álava" />
    <meta name="title" content={metaTitle} />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={metaImageURL} />
    <meta property="og:image:type" content={metaImageFormat} />
    <meta property="og:image:height" content={metaImageHeight} />
    <meta property="og:image:width" content={metaImageWidth} />
    <meta property="og:image:alt" content={metaImageAlt} />
    <meta property="og:url" content={currentUrl} />
    <meta property="og:locale" content={locale} />
    <meta property="og:site_name" content={metaTitle} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={metaImageURL} />
    <meta name="twitter:creator" content="@jorgefalava" />
    <meta name="twitter:site" content="@jorgefalava" />
    <title>
      {metaTitle}
    </title>
  </head>
  <body
    class="flex flex-col w-full min-h-[100dvh] bg-[#efefef] text-[#181a1b] dark:bg-[#181a1b] dark:text-[#efefef]"
  >
    <Header
      locale={locale}
      currentPage={currentPage}
      localizedNavIndex={localizedNavIndex}
      localizedCVIndex={localizedCVIndex}
    />
    <div class="not-mobile:h-[80px] mobile-only:h-[70px]"></div>
    <!-- Spacer to compensate for fixed header -->
    <ScrollToTopButton client:load />
    <main
      class="flex-grow w-[70%] mx-auto
    w-1150:w-[85%]
    mobile-only:w-[90%]
    border-l border-r border-dashed border-[#3756f2]
    relative"
    >
      <div
        class="w-[70%] mx-auto w-1150:w-[75%] mobile-only:w-[90%]
      px-8
      w-1150:px-6
      mobile-only:px-4"
      >
        <slot />
      </div>
      <div
        id="left-main-diamond"
        class="absolute bottom-0 left-0 h-3 w-3 z-10 rounded-[1px]
          rotate-45 border border-blue-300 dark:border-blue-500/60 bg-white/80 dark:bg-black
          translate-x-[-50%] translate-y-[50%]"
      >
      </div>
      <div
        id="right-main-diamond"
        class="absolute bottom-0 right-0 h-3 w-3 z-10 rounded-[1px]
          rotate-45 border border-blue-300 dark:border-blue-500/60 bg-white/80 dark:bg-black
          translate-x-[50%] translate-y-[50%]"
      >
      </div>
    </main>
    <Footer
      locale={locale}
      localizedSocials={localizedSocials}
      localizedWebReleases={localizedWebReleases}
      localizedContact={localizedContact}
      localizedContactMe={localizedContactMe}
      localizedOtherLinks={localizedOtherLinks}
      localizedSiteMap={localizedSiteMap}
      localizedAcknowledgements={localizedAcknowledgements}
      localizedEmail={localizedEmail}
    />
  </body>
</html>
