---
import A from "@/components/reusables/anchors/SimpleExternalAnchor.tsx";
import Abandoned from "@/components/reusables/tags/Abandoned.tsx";
import Maintained from "@/components/reusables/tags/Maintained";
import OnHold from "@/components/reusables/tags/OnHold.tsx";
import UnderDevelopment from "@/components/reusables/tags/UnderDevelopment";
import NDA from "@/components/reusables/tags/NDA";
import { TagType } from "@/types/TagType.ts";

interface Props {
  bentoID: string;
  locale: string;
  projectTitle: string;
  projectStatus: TagType;
  repoLink: string;
  repoHosting: string;
}

const { bentoID, locale, projectTitle, projectStatus, repoLink, repoHosting } =
  Astro.props as Props;

const TagComponents = {
  [TagType.Abandoned]: Abandoned,
  [TagType.Maintained]: Maintained,
  [TagType.OnHold]: OnHold,
  [TagType.UnderDevelopment]: UnderDevelopment,
  [TagType.NDA]: NDA,
};

const Tag = TagComponents[projectStatus];
---

<div
  id={bentoID}
  class="glassbox p-3 rounded-lg grid grid-cols-1 button-glassbox cursor-auto"
  title={projectTitle}
>
  <div class="flex items-center justify-evenly">
    <div class="flex items-center">
      <div class="items-center dark:invert mr-2" title={projectTitle}>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="dark:invert h-5 w-auto"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M23 11v2c-.852 0-1 .35-1 1.314v4.498c0 2.514-1.46 3.156-4 3.188v-2c1.404-.032 2 .154 2-1.36v-4.297a3.1 3.1 0 0 1 .294-1.56a1.7 1.7 0 0 1 .997-.783a1.7 1.7 0 0 1-.997-.783A3.1 3.1 0 0 1 20 9.657V5.359c0-1.513-.596-1.327-2-1.359V2c2.54.032 4 .674 4 3.188v4.498c0 .963.148 1.314 1 1.314M1 11v2c.852 0 1 .35 1 1.314v4.498C2 21.326 3.46 21.968 6 22v-2c-1.404-.032-2 .154-2-1.36v-4.297a3.1 3.1 0 0 0-.294-1.56A1.7 1.7 0 0 0 2.709 12a1.7 1.7 0 0 0 .997-.783A3.1 3.1 0 0 0 4 9.657V5.359C4 3.846 4.596 4.032 6 4V2c-2.54.032-4 .674-4 3.188v4.498C2 10.649 1.852 11 1 11m17-2H6v6h12ZM8 11h8v2H8Z"
          ></path></svg
        >
      </div>
      <div class="">
        <h3 class="dank-mono select-none text-base">
          {projectTitle}
        </h3>
      </div>
    </div>
    <div class="flex gap-x-2">
      <Tag lang={locale} />
      <A c="dark:invert flex items-center" h={repoLink}>
        {
          repoHosting === "github" && (
            <div class="glassbox p-1 rounded border-solid border-2 border-[rgba(0,0,0,0.5)]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:invert h-5 w-auto"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2"
                />
              </svg>
            </div>
          )
        }
        {
          repoHosting === "bitbucket" && (
            <div class="glassbox p-1 rounded border-solid border-2 border-[rgba(0,0,0,0.5)]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:invert h-5 w-auto"
                viewBox="0 0 16 16"
              >
                <path
                  fill="currentColor"
                  d="M1.454 1.816a.45.45 0 0 0-.345.153a.44.44 0 0 0-.103.358L2.91 13.684c.049.287.3.498.596.5h9.135a.45.45 0 0 0 .449-.37L14.994 2.33a.44.44 0 0 0-.1-.358a.45.45 0 0 0-.342-.156zm8.018 8.208H6.557l-.79-4.05h4.412z"
                />
              </svg>
            </div>
          )
        }
        {
          repoHosting === "gitlab" && (
            <div class="glassbox p-1 rounded border-solid border-2 border-[rgba(0,0,0,0.5)]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:invert h-5 w-auto"
                viewBox="0 0 24 24"
              >
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M21.798 13.084c.172.632.259.948.161 1.239c-.097.29-.356.492-.874.894l-7.838 6.085c-.6.465-.899.698-1.247.698s-.648-.233-1.247-.698l-7.838-6.085c-.518-.402-.777-.603-.874-.894c-.098-.291-.011-.607.161-1.24L5.231 2l2.857 6.654c.256.596.384.894.638 1.062c.254.167.579.167 1.228.167h4.092c.649 0 .974 0 1.228-.167c.254-.168.382-.466.638-1.062L18.77 2z"
                  color="currentColor"
                />
              </svg>
            </div>
          )
        }
        {
          repoHosting === "codeberg" && (
            <div class="glassbox p-1 rounded border-solid border-2 border-[rgba(0,0,0,0.5)]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:invert h-5 w-auto"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M11.955.49A12 12 0 0 0 0 12.49a12 12 0 0 0 1.832 6.373L11.838 5.928a.187.14 0 0 1 .324 0l10.006 12.935A12 12 0 0 0 24 12.49a12 12 0 0 0-12-12zm.375 6.467l4.416 16.553a12 12 0 0 0 5.137-4.213z"
                />
              </svg>
            </div>
          )
        }
        {
          repoHosting === "mercurial" && (
            <div class="glassbox p-1 rounded border-solid border-2 border-[rgba(0,0,0,0.5)]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:invert h-5 w-auto"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M104.368 236.309c0-40.023-43.624-65.172-78.335-45.161s-34.71 70.31 0 90.321s78.335-5.138 78.335-45.16m-57.135 2.31c.931-17.419 28.477-30.807 38.361-15.164c8.014 12.698-8.126 29.329-20.333 32.522c-12.934 3.386-18.96.068-18.028-17.357m8.84 36.287c2.066-1.866 12.542-1.1 21.998-6.187c9.449-5.082 20.675-16.221 22.681-32.056c1.18-9.3 1.535-6.964 2.007-1.901c-1.466 26.321-25.676 40.865-39.517 42.784c-3.74.516-10.312.2-7.17-2.64M256.602 9.676C72.809 32.394 69.852 225.847 231.827 271.8c140.17 39.809 28.956 128.72 32.204 187.924c3.268 59.197 121.862 80.673 215.39-74.797C571.288 232.214 460.018-15.491 256.6 9.676m29.862 268.989c-6.572-4.386-22.265-13.55-54.494-24.117c-26.683-8.753-40.244-16.233-46.86-21.849c20.788 9.195 37.484 12.689 58.222 17.966c43.909 13.166 54.004 17.049 54.942 33.827c-.435 9.244-4.846-1.162-11.81-5.827m81.376 88.898c40.461 5.007 83.91-78.847 93.726-130.037c9.573-49.873 14.239 3.212 4.957 37.473c-11.027 40.635-49.14 103.523-74.654 132.64c-19.562 22.334-41.424 31.652-67.807 35.566c-54.893 10.698 3.324-80.648 43.778-75.642m68.448 60.323c-25.142 30.134-62.029 57.106-103.579 60.346c-11.083 1.659-19.315.255-18.711-6.914c.795-9.437 11.965-3.454 28.141-7.38c58.11-14.109 83.308-43.201 118.06-97.833c27.055-42.523 38.883-89.7 39.778-98.683c2.671 10.878-14.68 86.526-63.69 150.464m-332.96-91.988c-53.05 30.583-53.05 107.457 0 138.041s119.72-7.853 119.72-69.02s-66.671-99.605-119.72-69.021m50.329 82.719c23.73-7.878 36.54-60.521 39.572-37.032c5.995 46.381-25.905 59.358-36.323 62.086c-35.156 9.207-39.194-13.127-3.25-25.054m61.925-4.343c-4.846 32.571-35.629 56.594-61.826 57.49c-5.318.546-12.294-1.771-5.796-3.132c7.897-1.653 53.824-13.555 64.608-51.326c3.361-11.78 3.964-9.412 3.014-3.032"
                />
              </svg>
            </div>
          )
        }
        {
          repoHosting === "gitea" && (
            <div class="glassbox p-1 rounded border-solid border-2 border-[rgba(0,0,0,0.5)]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:invert h-5 w-auto"
                viewBox="0 0 16 16"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M15.46 3.206s.14-.003.245.102l.01.01c.064.06.258.244.285 1.074c0 2.902-1.405 5.882-1.405 5.882a9 9 0 0 1-.359.713c-.458.802-.786 1.153-.786 1.153s-.318.379-.675.595c-.415.265-.72.263-.72.263L7.247 13c-.636-.079-1.29-.736-1.927-1.578c-.47-.677-.779-1.413-.779-1.413s-2.51.034-3.675-1.394C.235 7.895.103 7.067.06 6.769q0-.012-.004-.029c-.05-.324-.285-1.873.821-2.86c.517-.496 1.148-.638 1.37-.684c.371-.081.667-.06.903-.044l.09.006c.391.035 3.99.216 3.99.216s1.532.066 2.27.056c0 0 .003 1.853.003 2.78q.105.048.211.1l.212.1V3.427q.494-.005.996-.017h.011c1.545-.036 4.528-.204 4.528-.204ZM2.113 8.026s.28.26.94.477c.43.152 1.094.231 1.094.231S3.699 7.5 3.516 6.757c-.22-.886-.4-2.398-.4-2.398s-.438-.015-.789.079c-.766.19-.98.763-.98.763s-.384.688.036 1.813c.244.672.73 1.013.73 1.013Zm8.084 3.607c.344-.023.499-.392.499-.392s1.24-2.486 1.4-2.878a.7.7 0 0 0 .046-.438c-.07-.267-.39-.412-.39-.412l-1.926-.935l-.165.339l-.18.369a.46.46 0 0 1 .128.341s.433.186.743.387c0 0 .257.135.32.425c.075.273-.04.488-.066.539l-.002.003s-.216.51-.343.774l-.004.007q-.07.144-.139.28a.454.454 0 1 1-.32-.15s.41-.84.468-1.033c0 0 .096-.24.048-.38a.47.47 0 0 0-.19-.188a6 6 0 0 0-.678-.34s-.076.068-.18.09a.5.5 0 0 1-.158.014l-.611 1.25a.46.46 0 0 1 .046.587a.46.46 0 0 1-.578.138a.46.46 0 0 1-.232-.51a.46.46 0 0 1 .44-.35L8.8 7.886a.457.457 0 0 1 .361-.744l.185-.375l.167-.341l-.579-.281s-.251-.125-.458-.072a.6.6 0 0 0-.114.039c-.189.084-.31.33-.31.33L6.668 9.293s-.124.254-.068.46c.048.252.325.397.325.397l2.874 1.4l.135.054s.114.04.262.03Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          )
        }
        {
          repoHosting === "azure" && (
            <div class="glassbox p-1 rounded border-solid border-2 border-[rgba(0,0,0,0.5)]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:invert h-5 w-auto"
                viewBox="0 0 15 15"
              >
                <path
                  fill="currentColor"
                  d="M7.97.67a.5.5 0 0 0-.824-.524l-4 4a.5.5 0 0 0-.106.157l-3 7A.5.5 0 0 0 .5 12h3a.5.5 0 0 0 .47-.33zm1.985 1.623a.5.5 0 0 0-.92.021l-2 5A.5.5 0 0 0 7.1 7.8l2.584 3.445l-5.342 1.78A.5.5 0 0 0 4.5 14h10a.5.5 0 0 0 .455-.707z"
                />
              </svg>
            </div>
          )
        }
        {
          repoHosting === "git" && (
            <div class="glassbox p-1 rounded border-solid border-2 border-[rgba(0,0,0,0.5)]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:invert h-5 w-auto"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M2.6 10.59L8.38 4.8l1.69 1.7c-.24.85.15 1.78.93 2.23v5.54c-.6.34-1 .99-1 1.73a2 2 0 0 0 2 2a2 2 0 0 0 2-2c0-.74-.4-1.39-1-1.73V9.41l2.07 2.09c-.07.15-.07.32-.07.5a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2c-.18 0-.35 0-.5.07L13.93 7.5a1.98 1.98 0 0 0-1.15-2.34c-.43-.16-.88-.2-1.28-.09L9.8 3.38l.79-.78c.78-.79 2.04-.79 2.82 0l7.99 7.99c.79.78.79 2.04 0 2.82l-7.99 7.99c-.78.79-2.04.79-2.82 0L2.6 13.41c-.79-.78-.79-2.04 0-2.82"
                />
              </svg>
            </div>
          )
        }
      </A>
    </div>
  </div>
  <div class="flex flex-wrap ml-1 mt-1">
    <slot />
  </div>
</div>
